<div>
    <h1>Ingrese su usuario</h1>
    {{!-- <form id="cookieForm" onsubmit="return false"> --}}
    <form id="cookieForm" action="/api/session/login" method="POST">
        <label>Email</label>
        <input name="email">
        <br />
        <label>pass</label>
        {{!-- <input name="email"> --}}
        <input name="password">
        <input type="submit">

    </form>
  <a href="/api/session/github">Entrar Con Github</a>
  <div class="restore-password">
      <a href="/api/session/restore">Olvidé mi contraseña</a>
    </div>

    <a href="/register"><h2>Si no tenes cuenta registrate aquí!</h2></a>
    {{!-- <button onclick="getCookie()">Ver Cookie</button> --}}
</div>
{{!-- <script src="/static/js/cookieSetter.js"></script> --}}
