<header>
  <nav class="h-100 navbar navbar-expand-lg">
    <div class="d-inline ms-5">
      <span class="h2">E-Commerce</span>
    </div>
    <div class="d-inline position-absolute top-50 start-50 translate-middle">
      <span class="h2">Cambiar contraseña</span>
    </div>
  </nav>
</header>
<main>
  <div class="container change-form w-100">
    <div class="row align-items-center">
        <form id="newPassword">
      <label for="password" class="col-form-label">Password</label>
      <div>
        <input
          type="password"
          id="password"
          class="form-control"
          aria-labelledby="passwordHelpInline"
          placeholder="Set your new password"
        />
      </div>
      
    </div>
    <div class="mb-3">
      <label for="confirmPassword" class="col-form-label">
        Repeat your password
      </label>
      <input
        type="password"
        class="form-control"
        id="confirmPassword"
        placeholder="Confirm your password"
      />
    </div>
    </form>
    <button
      id="passwordButton"
      class="btn bg-primary text-black"
    >Cambiar</button>
  </div>
</main>
<script src="/static/js/{{script}}"></script>