<div>
    <h1>Seleccione una opcion</h1>
    
    <a href="/api/products/"><h2>Productos</h2></a>
    <a href="/api/users/"><h2>Usuarios</h2></a>
    <a href="/api/carts/"><h2>Carritos</h2></a>
    <a href="/adminpanel"><h2>Panel de admin</h2></a>
    <a href="api/users/premium/{{id}}"><h2>premium</h2></a>

</div>