<div>
     {{#each users}}
        <li>
            <strong>Name: </strong>{{this.first_name}} -
        

            <strong>Last Name:  </strong>{{this.last_name}}- 
            
            <strong>Email: </strong>{{this.email}}-
            
            <strong>Role: </strong>{{this.role}}-
          
         
        </li>
        
    {{/each}}
</div>